{% extends "_templates/base.njk" %}

{% block page_title %}All Pup-Friendly Locations{% endblock %}
{% block page_description %}Explore all dog-friendly parks, cafes, breweries, and more in Austin{% endblock %}

{% block content %}
<div class="container my-5">
  <h1>All Pup-Friendly Locations</h1>
  <p>Below is a full list of dog-friendly spots in Austin. Click on any location to learn more.</p>

  {% if locations %}
    <div class="row gy-4">
      {% for location in locations %}
        <div class="col-sm-6 col-md-4">
          <div class="card h-100">
            {% if location.image %}
              <img src="img/{{ location.image }}" class="card-img-top" alt="{{ location.name }}">
            {% else %}
              <img src="img/placeholder.jpg" class="card-img-top" alt="Dog-friendly location">
            {% endif %}
            <div class="card-body">
              <h3 class="card-title">
                <a href="locations/{{ location.name | replace(' ','-') | lower }}.html">{{ location.name }}</a>
              </h3>
              <p class="card-text"><strong>Type:</strong> {{ location.type | capitalize }}</p>
              <p class="card-text">{{ location.features }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No location data available. Check your <code>locations.json</code>.</p>
  {% endif %}
</div>
{% endblock %}
